body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4fff6;
    color: #23452b;
}

.navbar {
    background-color: #2e7d32;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 18px;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

.hero {
    display: flex;
    gap: 35px;
    align-items: center;
    padding: 50px;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 44px;
    color: #1b5e20;
}

.hero-text p,
.intro {
    font-size: 18px;
    line-height: 1.7;
}

.hero-image {
    flex: 1;
    text-align: center;
}

.hero-image img {
    width: 100%;
    max-width: 460px;
    border-radius: 20px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.btn {
    display: inline-block;
    background-color: #2e7d32;
    color: white;
    padding: 12px 22px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 15px;
}

.container {
    padding: 45px;
}

.two-sections,
.cards {
    display: flex;
    gap: 22px;
    padding: 30px 50px;
    flex-wrap: wrap;
}

.section-box,
.card,
.contact-box {
    background-color: white;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 5px 14px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 220px;
}

h1, h2 {
    color: #1b5e20;
}

.tips-list {
    background-color: white;
    padding: 30px 45px;
    border-radius: 16px;
    font-size: 18px;
    line-height: 2;
    box-shadow: 0 5px 14px rgba(0,0,0,0.1);
}

footer {
    background-color: #1b5e20;
    color: white;
    text-align: center;
    padding: 16px;
    margin-top: 30px;
}